@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Azeret Mono", monospace;
}

/* navbar styles starts here */
nav {
  width: 1440px;
  background: rgb(255, 255, 255);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.nav-left p {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}
.nav-right button {
  width: 244px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;
  border: 1px solid rgb(13, 19, 33);
  padding: 16px;
}

/* banner section styles starts here */
.banner-container {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(../assets/Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-content img {
  width: 240.28px;
  height: 240px;
  margin-top: 10px;
}
.banner-content h2 {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}
.banner-content p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 26px;
  letter-spacing: 0%;
}

.banner-btn {
  width: 244px;
  height: 65px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
}
/* web development styles starts */
.web-developer-container {
  width: 1140px;
  height: 1393px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 90px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 80px 97px 80px 97px;
  gap: 10px;
}
.web-developer-text {
  width: 946px;
  height: 1233px;
}
.web-developer-text h4 {
  width: 852px;
  height: 37px;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
.web-developer-text p {
  width: 852px;
  height: 52px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
}

.dev-card {
  width: 946px;
  height: 336px;
  display: flex;
  text-align: start;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  border-radius: 16px;
  background-color: #fff;
}

.dev-card h5 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dev-card p {
  width: 468px;
  height: 52px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}

.dev-card button {
  width: 171px;
  height: 47px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  gap: 10;
  margin-top: 20px;
}

.dev-text {
  width: 477px;
  height: 219px;
  gap: 32;
  padding: 16px;
}

.dev-img {
  width: 259.56px;
  height: 217.01px;
  margin-top: 20px;
}

/* inspiration section style starts here */
.inspiration-container {
  width: 1140px;
  height: 775px;
  margin: 0 auto;
}
.inspiration-content {
  width: 852px;
  margin: 0 auto;
}
.inspiration-content h5 {
  width: 852px;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px;
}
.inspiration-content p {
  width: 852px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.video-container {
  padding: 32px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  margin-top: 48px;
}
.video-container iframe {
  width: 1076px;
  height: 550px;
  border-radius: 16px;
}
/* current target styles starts here */
.current-target-container {
  width: 1140px;
  margin: 0 auto;
  margin-top: 70px;
}
.current-target-text {
  width: 946px;
  margin: 0 auto;
}
.current-target-text h5 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}
.current-target-text p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-top: 20px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  gap: 24px;
}

.card {
  width: 364px;
  height: 299px;
  padding: 40px;
  border-radius: 16px;
}
.card h5 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}
.card p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}
.card a {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  text-decoration-line: underline;
}
#img {
  width: 39.68px;
  margin-bottom: 24px;
}

/* my next target styles here */
.next-target-container {
  width: 1140px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 48px;
}

.next-target-content {
  width: 946px;
  gap: 48;
  margin: 0 auto;
  align-items: center;
  gap: 24px;
}
.next-target-content h5 {
  width: 852px;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}
.next-target-content p {
  width: 852px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
}

.target-card-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.target-card-container > .target-card {
  width: 1140px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 24px;
  padding: 40px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.target-card h5 {
  width: 110px;
  gap: 8;
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 8px;
}
.target-card p {
  width: 941.22px;
  gap: 8;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}
.target-card a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  text-decoration-line: underline;
}

/* I need support styles starts */
#support {
  background: linear-gradient(
      80deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../assets/handshake.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1140px;
  margin: 0 auto;
  padding: 64px 48px;
  text-align: center;
  border-radius: 16px;
  margin-top: 50px;
}
.support-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}
.support-content h4 {
  width: 292px;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}
.support-content p {
  width: 606px;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.support-content input {
  width: 548px;
  gap: 10;
  padding: 19px 20px 19px 20px;
  gap: 10;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
.support-content button {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 17px 20px 17px 20px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  border: none;
}

/* footer section styles starts here */
.footer {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  background: rgba(13, 19, 33, 0.03);
  border-radius: 16px;
  padding: 20px;
  margin-top: 80px;
}

.footer-text p {
  width: 456px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
